<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/assets/Amos.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='https://api.nukes.in/cms/css?name=global.css'>
	<link rel='stylesheet' href='https://api.nukes.in/cms/css?name=keyframes.css'>

	<script type='text/javascript' src="/assets/setup.js"></script>

	<!-- <link rel="manifest" crossorigin="use-credentials" href="manifest.json"> -->

	<meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/_app/assets/pages/__layout.svelte-ec692648.css">
	<link rel="modulepreload" href="/_app/start-799b8624.js">
	<link rel="modulepreload" href="/_app/chunks/index-132e5a0e.js">
	<link rel="modulepreload" href="/_app/chunks/index-cfd1276c.js">
	<link rel="modulepreload" href="/_app/chunks/paths-396f020f.js">
	<link rel="modulepreload" href="/_app/pages/__layout.svelte-02b58aa4.js">
	<link rel="modulepreload" href="/_app/chunks/index-48aa5747.js">
	<link rel="modulepreload" href="/_app/chunks/index-5303bb93.js">
	<link rel="modulepreload" href="/_app/chunks/_commonjsHelpers-c771f69b.js">
	<link rel="modulepreload" href="/_app/pages/plutonium/components/song.svelte-5fe33c6e.js">
</head>

<body class="p-rel" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<main>





<div id="AMOS" class="svelte-184nq5d"></div>

<div class="notifs p-fix m5 svelte-qlfeu1">
</div>

<div id="AMOS-Nav" class="p-fix fade-right active ƒ-col svelte-184nq5d"><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/"><div class="p-abs name fw2 svelte-184nq5d"> Home</div>
            <img height="150px" width="150px" src="/OUI/icons/web/amos.svg" alt="Home" class="svelte-184nq5d">
        </a><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/stream"><div class="p-abs name fw2 svelte-184nq5d"> Stream</div>
            <img height="150px" width="150px" src="/OUI/icons/web/stream.svg" alt="Stream" class="svelte-184nq5d">
        </a><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/debug"><div class="p-abs name fw2 svelte-184nq5d"> Debug</div>
            <img height="150px" width="150px" src="/OUI/icons/web/debug.svg" alt="Debug" class="svelte-184nq5d">
        </a><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/books"><div class="p-abs name fw2 svelte-184nq5d"> Books</div>
            <img height="150px" width="150px" src="/OUI/icons/web/books.svg" alt="Books" class="svelte-184nq5d">
        </a><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/projects"><div class="p-abs name fw2 svelte-184nq5d"> Projects</div>
            <img height="150px" width="150px" src="/OUI/icons/web/worker.svg" alt="Projects" class="svelte-184nq5d">
        </a><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/plutonium"><div class="p-abs name fw2 svelte-184nq5d"> Plutonium</div>
            <img height="150px" width="150px" src="/OUI/icons/web/pluto.svg" alt="Plutonium" class="svelte-184nq5d">
        </a><a class="m10 p5 tile †r p-rel blur svelte-184nq5d" href="/stack"><div class="p-abs name fw2 svelte-184nq5d"> Stack</div>
            <img height="150px" width="150px" src="/OUI/icons/web/stack.svg" alt="Stack" class="svelte-184nq5d">
        </a>
</div>


		<script type="module" data-hydrate="t7m86v">
		import { start } from "/_app/start-799b8624.js";
		start({
			target: document.querySelector('[data-hydrate="t7m86v"]').parentNode,
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/_app/pages/__layout.svelte-02b58aa4.js"),
						import("/_app/pages/plutonium/components/song.svelte-5fe33c6e.js")
				],
				params: {},
				routeId: "plutonium/components/song"
			}
		});
	</script></main>
	<div id="alerts" class="p-fix w-100"></div>
</body>

</html>