<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/assets/Amos.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/AutoMetaOS/UI/css/global.css'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/AutoMetaOS/UI@latest/css/g100.css'>

	

		

		<link rel="modulepreload" href="/internal/start-b7cd6b54.js">
		<link rel="modulepreload" href="/internal/chunks/vendor-7295d73e.js">
		<link rel="modulepreload" href="/internal/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/internal/layout.svelte-1283b060.js">
		<link rel="modulepreload" href="/internal/pages/stream/components/bar.svelte-4af7cc45.js">
		<link rel="modulepreload" href="/internal/chunks/TextInput-3f048d49.js">
		<link rel="modulepreload" href="/internal/chunks/store-76598d4b.js">
		<link rel="modulepreload" href="/internal/chunks/molecular-e392fe60.js">
		<link rel="stylesheet" href="/internal/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/internal/assets/pages/stream/components/bar.svelte-b49569df.css">

		<script type="module">
			import { start } from "/internal/start-b7cd6b54.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/internal/layout.svelte-1283b060.js"),
						import("/internal/pages/stream/components/bar.svelte-4af7cc45.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/bar",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/helpers/RoninScript.js"></script>

	<script>
		const meta = {
			authHash: 'c3f438ce714c766ab764fe2f96a8e6ce7216dc4ed26572e160b2156f54a7ef20'
		}
	</script>
</head>

<body class="p-rel" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	


<form class="o-0 w-100 p5 ƒ blur p-fix ∆-bw svelte-4d925k">
<div class="bx--form-item bx--text-input-wrapper">
  
  <div class="bx--text-input__field-outer-wrapper"><div class="bx--text-input__field-wrapper">
      
      <input id="ccs-0.rl80j6vcpd" placeholder="Search" type="" value="" class="bx--text-input--40 p5 b0 bx--text-input   " style="background:transparent;outline:none;">
      
      
      </div>
    
    
    </div></div>
  <svg viewBox="0 0 32 32" height="22" width="22" fill="none"><circle stroke="#fff" cx="14" cy="14" r="12"></circle><path stroke="#fff" d="M23 23 L30 30"></path></svg>
</form>



			
		
</body>

</html>