// VARIABLES
$transition: 0.2s;

// DEFAULTS
body {
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font: lighter 16px helvetica;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a,
a:visited,
a:hover {
	color: inherit;
	text-decoration: none;
}

img {
	object-fit: cover;
}

*::-webkit-scrollbar {
	display: none;
}

input,
button,
textarea {
	position: relative;
	border: 0;
	outline: 0;
	margin: 0;
	background: transparent;
	font-size: 1em;

	&:focus {
		outline: none;
	}
}

* .bg {
	--bg: #fff;
	--tx: inherit;
	background: var(--bg) !important;
	color: var(--tx) !important;
}

// SHORT CODES
.blur {
	--bg: #2228;
	--sz: 32px;
	background: var(--bg);
	backdrop-filter: blur(var(--sz));
	-webkit-backdrop-filter: blur(var(--sz));
	-ms-backdrop-filter: blur(var(--sz));
	-moz-backdrop-filter: blur(var(--sz));
}

.rpm {
	&-0 {
		margin: 0;
		padding: 0;
		border-radius: 0;
	}

	&-5 {
		margin: 5px;
		padding: 5px;
		border-radius: 5px;
	}

	&-10 {
		margin: 10px;
		padding: 10px;
		border-radius: 10px;
	}

	&-20 {
		margin: 20px;
		padding: 20px;
		border-radius: 20px;
	}
}

.o {
	&-0 {
		opacity: 0;
	}

	&-25 {
		opacity: 0.25;
	}

	&-33 {
		opacity: 0.33;
	}

	&-50 {
		opacity: 0.5;
	}

	&-66 {
		opacity: 0.66;
	}

	&-75 {
		opacity: 0.75;
	}

	&-100 {
		opacity: 1;
	}
}

.b0 {
	border: 0 !important;
	outline: none !important;
}

.p0 {
	padding: 0 !important;
}

.p2 {
	padding: 2px !important;
}

.p5 {
	padding: 5px !important;
}

.p10 {
	padding: 10px !important;
}

.p20 {
	padding: 20px !important;
}

.m0 {
	margin: 0;
}

.m2 {
	margin: 2px;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.m20 {
	margin: 20px;
}

.mx-a {
	margin: 0 auto;
}

.rx0 {
	border-radius: 0px;
}

.rx2 {
	border-radius: 2px;
}

.rx5 {
	border-radius: 5px;
}

.rx10 {
	border-radius: 10px;
}

.rx20 {
	border-radius: 20px;
}

.fw1 {
	font-weight: 100;
}

.fw2 {
	font-weight: 200;
}

.fw3 {
	font-weight: 300;
}

.fw4 {
	font-weight: 400;
}

.fw5 {
	font-weight: 500;
}

.fw6 {
	font-weight: 600;
}

.fw7 {
	font-weight: 700;
}

.†r {
	text-align: right;
}

.†c {
	text-align: center;
}

.†j {
	text-align: justify;
}

.†l {
	text-align: left;
}

.∆-ct {
	justify-content: center;
}

.∆-bw {
	justify-content: space-between;
}

.∆-ar {
	justify-content: space-around;
}

.w {
	&-auto {
		width: auto;
	}

	&-100 {
		width: 100%;
	}

	&-50 {
		width: 50%;
	}

	&-33 {
		width: 33.33%;
	}

	&-25 {
		width: 25%;
	}

	&-20 {
		width: 20%;
	}

	&-0 {
		width: 0;
	}
}

.h {
	&-auto {
		height: auto;
	}

	&-1vh {
		height: 100vh;
	}

	&-100 {
		height: 100%;
	}

	&-50 {
		height: 50%;
	}

	&-33 {
		height: 33.33%;
	}

	&-25 {
		height: 25%;
	}

	&-20 {
		height: 20%;
	}

	&-0 {
		height: 0;
	}
}

.ƒ {
	display: flex !important;

	&-col {
		display: flex !important;
		flex-direction: column;
	}

	&∑ {
		display: flex !important;
		flex-wrap: wrap;
	}
}

.p-abs {
	position: absolute !important;
}

.p-fix {
	position: fixed !important;
}

.p-rel {
	position: relative !important;
}

// COMPOUNDS
.hover {
	will-change: opacity;
	opacity: 0;
	transition: opacity $transition ease;
}

.hover:hover {
	opacity: 1;
}

$transition: 0.4s;

.fade {
	will-change: opacity;
	animation: fade $transition ease-in forwards;

	&-right {
		will-change: opacity, transform;
		animation: fade-right $transition ease-in forwards;
	}

	&-left {
		will-change: opacity, transform;
		animation: fade-left $transition ease-in forwards;
	}

	&-down {
		will-change: opacity, transform;
		animation: fade-down $transition ease-in forwards;
	}

	&-up {
		will-change: opacity, transform;
		animation: fade-up $transition ease-in forwards;
	}
}