<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/assets/Amos.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/OUI/css/global.css'>
	<link rel='stylesheet' href='/OUI/css/keyframes.css'>

	<meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/internal/assets/pages/stream/components/videoCard.svelte-69f85e9d.css">
	<link rel="modulepreload" href="/internal/start-3a8473c8.js">
	<link rel="modulepreload" href="/internal/chunks/vendor-4e7e0afc.js">
	<link rel="modulepreload" href="/internal/chunks/paths-4b3c6e7e.js">
	<link rel="modulepreload" href="/internal/layout.svelte-b6d98584.js">
	<link rel="modulepreload" href="/internal/pages/stream/components/videoCard.svelte-df87eb08.js">
	<link rel="modulepreload" href="/internal/chunks/index-e1aa1bc5.js"><script type="module">
		import { start } from "/internal/start-3a8473c8.js";
		start({
			target: document.querySelector("body"),
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/internal/layout.svelte-b6d98584.js"),
						import("/internal/pages/stream/components/videoCard.svelte-df87eb08.js")
				],
				url: new URL("http://sveltekit-prerender/stream/components/videoCard"),
				params: {}
			}
		});
	</script>

	<!-- <script src="/helpers/RoninScript.js"></script> -->

	<script>
		const meta = {
			authHash: 'c3f438ce714c766ab764fe2f96a8e6ce7216dc4ed26572e160b2156f54a7ef20'
		}
	</script>
</head>

<body class="p-rel" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	


<div class="recom p-rel fade-right m5 rx10 ƒ-col svelte-rhiy3x" id="yt-100000000000" data-title="" data-slug=""><img id="img_yt-100000000000" src="https://wallpaperaccess.com/full/2404603.png" class="w-100 svelte-rhiy3x" alt="thubmnail">
    
</div>


</body>

</html>