<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/assets/Amos.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/AutoMetaOS/UI/css/global.css'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/AutoMetaOS/UI@latest/css/g100.css'>

	

		

		<link rel="modulepreload" href="/internal/start-101fc1af.js">
		<link rel="modulepreload" href="/internal/chunks/vendor-04de4d0b.js">
		<link rel="modulepreload" href="/internal/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/internal/layout.svelte-ca323848.js">
		<link rel="modulepreload" href="/internal/pages/stream/components/YT_subs.svelte-7bb544b2.js">
		<link rel="modulepreload" href="/internal/chunks/store-c6993e83.js">
		<link rel="modulepreload" href="/internal/chunks/molecular-e392fe60.js">
		<link rel="modulepreload" href="/internal/pages/stream/shared/videoCard.svelte-9e57df9b.js">
		<link rel="modulepreload" href="/internal/chunks/AspectRatio-161036b6.js">
		<link rel="modulepreload" href="/internal/chunks/Slider-1e67c823.js">
		<link rel="stylesheet" href="/internal/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/internal/assets/pages/stream/shared/videoCard.svelte-5af47e23.css">

		<script type="module">
			import { start } from "/internal/start-101fc1af.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/internal/layout.svelte-ca323848.js"),
						import("/internal/pages/stream/components/YT_subs.svelte-7bb544b2.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/YT_subs",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/helpers/RoninScript.js"></script>

	<script>
		const meta = {
			authHash: 'c3f438ce714c766ab764fe2f96a8e6ce7216dc4ed26572e160b2156f54a7ef20'
		}
	</script>
</head>

<body class="p-rel" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	


<section class="ƒ p20 ƒ∑" id="search"></section>



			
		
</body>

</html>